@using Loco.Localization.Adapters
@inject ILocalizer L

@{
    // Title from resources
    ViewData["Title"] = L["Home_Title"];
    }

<div class="text-center">
    <h1 class="display-4">@L["Home_Welcome"]</h1>
</div>